b.cBold
{
  font-weight: bold
}
code.cCode
{
  font-family: Courier New, Courier, mono
}

.codebox 
{
	background: #f1f5f9;
	border: 1px solid #c7cfd5;
  font-family: Courier New, Courier, mono
	margin: 20px 0;
	padding: 8px;
	text-align: left;
}
	
em.cEmphasis
{
  font-style: italic
}
sub.cSubscript
{
  vertical-align: sub
}
sup.cSuperscript
{
  vertical-align: super
}
u.cUnderline
{
  text-decoration: underline
}

p.pBody
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBodyRelative
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellBody
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellHeading
{
  color: #FFFFFF;
  background-color: #999999;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: center;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

p.pCopyrightText
{
  color: #999999;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pGroupTitlesIX
{
  color: #CC0000;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pHeading1
{
  color: #CC0000;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h3.pHeading2
{
  color: #CC0000;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h4.pHeading3
{
  color: #CC0000;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h5.pHeading4
{
  color: #CC0000;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 9px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented1
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented2
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented3
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 7.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented4
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 10em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented5
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 12.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndentedRelative
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel1IX
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel2IX
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel3IX
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 7.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel4IX
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 10em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel5IX
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 12.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pNewHTMLPage
{
  color: #CC0000;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pNoteTitle
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em; 
 text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pNote
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-top: 0em;
  margin-left: 1.25em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopup
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopupAppend
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPreformatted
{
  color: 666666;
  font-family: Courier New, Courier, mono;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPreformattedRelative
{
  color: 666666;
  font-family: Courier New, Courier, mono;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pRelatedTopic
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

p.pSeeAlsoRef
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}





div.pSmartList1
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList2
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList3
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList4
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList5
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pTableTitle
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pTitle
{
  color: #CC0000;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pTOC1
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC2
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC3
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC4
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 7.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC5
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 10em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pWebSiteLink
{
  color: #666666;
  font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

